:root{
    --font-size: 16px;
    --brown-color: #814d3b;
    --hot-pink: #F7ACB8;
    --cream: #fff8e8
}
@media (max-width: 700px) {
    :root {
        --font-size: 14px;
    }
}
@media (max-width: 480px) {
    :root {
        --font-size: 12px;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: var(--font-size);
    font-family: "Red Hat Display", serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-y: scroll;
    background-color: var(--cream);
    scroll-behavior: smooth;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
    max-width: 1700px;
}
.small-wrapper{
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}
.pics{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul{list-style: none;}
a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.pink-cta{
    background-color: var(--hot-pink);
    text-decoration: none;
    border-radius: 30px;
    display: block;
    max-width: 250px;
    min-width: 200px;
    padding: 1rem 0;
    text-align: center;
    color: transparent;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}
.pink-cta::before{
    content: '';
    width: 0;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--brown-color);
    transition: all 0.3s ease-in;
}
.pink-cta::after{
    color: #000;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 30%;
    left: 0;
    transition: all 0.4s ease-in;
}
.pink-cta:hover::before{
    width: 100%;
}
.pink-cta:hover::after{
    width: 100%;
    color: #fff;
}