---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="text-container">
            </div>
        </div>
        <div class="right-col col"></div>
	</div>

	<section class="gallery">
		<div class="wrapper grid-container">
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-01.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-02.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-03.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-04.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-05.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-06.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-07.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-08.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-09.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-10.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-11.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-12.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-13.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-14.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-15.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-16.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-17.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-18.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-19.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-20.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-21.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-22.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-23.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-24.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-25.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-26.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-27.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-28.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-29.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-30.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-31.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-32.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-33.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-34.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-35.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-36.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-37.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-38.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-39.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-40.png" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-41.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-42.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-43.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-44.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-45.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-46.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-47.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-48.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-49.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-50.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-51.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-52.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-53.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-54.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-55.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-56.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-57.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-58.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-59.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-60.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-61.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-62.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-63.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-64.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-65.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-66.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-67.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-68.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-69.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-70.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-71.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-72.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-73.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-74.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-75.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-78.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-79.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-80.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-81.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-82.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-83.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-84.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-85.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-86.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-87.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-88.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-89.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-90.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-91.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-92.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-93.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-94.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-95.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-96.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-97.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-98.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-99.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-100.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-101.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container big">
				<img src="../src/assets/images/gallery-images/image-102.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-103.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-104.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-105.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-106.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-107.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-108.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-109.jpg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-110.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-111.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-112.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-113.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-114.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-115.jpeg" class="pics" alt="cake or dessert image">
			</div>
			<div class="img-container">
				<img src="../src/assets/images/gallery-images/image-116.jpeg" class="pics" alt="cake or dessert image">
			</div>
		</div>
	</section>

	<Footer />
</Layout>
<style>
	.grid-container{
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 300px;
		grid-auto-flow: dense;
	}
	.grid-container .wide{
		grid-column: span 2;
	}
	.grid-container .tall{
		grid-row: span 2;
	}
	.grid-container .big{
		grid-row: span 2;
		grid-column: span 2;
	}
</style>