---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="text-container">
            </div>
        </div>
        <div class="right-col col"></div>
	</div>

	<section class="gallery">
		<div class="wrapper grid-container">
			<div class="img-container"></div>
		</div>
	</section>

	<Footer />
</Layout>
<style>

</style>