---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="text-container">
            </div>
        </div>
        <div class="right-col col"></div>
	</div>

	<Footer />
</Layout>
<style>

</style>