---
	import Header from '../components/Header.astro';
	import Footer from '../components/Footer.astro';
	import BakeryInfo from '../components/BakeryInfo.astro';
	import Layout from '../layouts/Layout.astro';

	import spcltyCard from '../assets/images/spclty-card.jpg';
	import spcltyCard2 from '../assets/images/spclty-card2.jpg';
	import spcltyCard3 from '../assets/images/spclty-card3.jpg';
---

<Layout>
	<Header />

	<section class="hero-section wrapper">
		<div class="left-col col">
            <div class="hero-text-container">
                <h1>Custom Cakes Made<br /> With Love</h1>
                <p>Specializing in custom cakes and pastries, all freshly made by order. Provide us your cake design idea and we'll help you bring your cake to life.</p>
                <a href="" class="pink-cta hero-cta" title="Get Started" aria-label="Get started link">Get Started</a>
            </div>
        </div>
        <div class="right-col col"></div>
	</section>

	<section class="bakery-specialties wrapper">
		<div class="card">
			<div class="img-container">
				<img src={spcltyCard.src} class="pics" alt="Heart shaped cake">
			</div>
			<h3>Less sugar, healthy you</h3>
			<p>Our cakes, pastries and creams contain a low amount of sugar and we always provide fresh fruit.</p>
		</div>
		<div class="card">
			<div class="img-container">
				<img src={spcltyCard3.src} class="pics" alt="Cake pops">
			</div>
			<h3>Need a sweet table?</h3>
			<p>We have a wide variety of pastries that you can also custom design for your event. Stands and platters are available for rent.</p>
			<a href="" class="pink-cta spclty-card-cta" title="View Desserts" aria-label="View Desserts link">View Desserts</a>
		</div>
		<div class="card">
			<div class="img-container">
				<img src={spcltyCard2.src} class="pics" alt="Under the sea cake">
			</div>
			<h3>Customize your cake</h3>
			<p>Get creative with your cake, make it unique, provide a big surprise so you can leave behind a big impression and create memorable moments.</p>
		</div>
	</section>

	<!-- <BakeryInfo /> -->

	<div class="homepage-nav">
		<div class="homepage-nav-container wrapper">
			<ul>
				<li>
					<a tabindex="-1" href="" class="" title="Desserts link" aria-label="Link to desserts">Desserts</a>
				</li>
				<li>
					<a tabindex="-1" href="" class="" title="Flavors" aria-label="Link to flavors section">Cake Flavors</a>
				</li>
				<li>
					<a tabindex="-1" href="" class="" title="Fillings" aria-label="Link to fillings section">Cake Fillings</a>
				</li>
			</ul>
			<a href="" title="Get a Quote" aria-label="Get a Quote link" class="homepage-nav-cta pink-cta">Get a Quote</a>
		</div>
    </div>

	<section id="desserts">
		<div class="desserts-container list-container small-wrapper">
			<div class="img-col">
				<h2>Desserts</h2>
			</div>
			<div class="list-col">
				<ul>
					<li>Mini Cupcakes</li>
					<li>Cupcakes</li>
					<li>Cake Pops</li>
					<li>Oreo Pops</li>
					<li>Strawberry Tart</li>
					<li>Macarons</li>
					<li>Brownie Bites</li>
					<li>Rice Krispy Treats</li>
					<li>Choux Small</li>
					<li>Pretzel Sticks</li>
					<li>Tiramisu Cups</li>
					<li>Creme Brulee</li>
					<li>Mini Fruitarts</li>
					<li>Cookie Cream Shooters</li>
					<li>Strawberry Shooters</li>
					<li>Banana Cream Pie</li>
					<li>Key Lime Parfait</li>
					<li>Tropical Cups</li>
					<li>Mini Cheesecake</li>
					<li>Oatmeal Raisin Cookies</li>
					<li>Peanut Butter Cookies</li>
					<li>Chocolate Chip Cookies</li>
					<li>Chocolate Dipped Strawberries</li>
				</ul>
				<p>* Additional charge of $0.50 each item for bags and bows</p>
				<p>* Minimum 1 dozen per item</p>
				<p>* Orders have to be placed 4 days in advance</p>
			</div>
		</div>
		<div class="small-wrapper list-container flavors-container">
			<div class="list-col">
				<ul>
					<li>Vanilla</li>
					<li>Chocolate</li>
					<li>Marble</li>
					<li>Strawberry</li>
					<li>Lemon</li>
					<li>Lemon Strawberry (contains real fruits)</li>
					<li>Almond (contains tree nuts)</li>
					<li>Funfetti</li>
					<li>Cookies & Cream</li>
					<li>Yellow Chocolate Chips</li>
					<li>Hazelnut Swirls (contains tree nuts)</li>
					<li>Matcha Swirls</li>
					<li class="bold">Red Velvet *</li>
					<li class="bold">Coconut *</li>
					<li class="bold">Banana * (with banana chunks)</li>
					<li class="bold">Carrot * (with carrot shavings)</li>
					<li class="bold">Pandan *</li>
				</ul>
				<p>* Additional charge for special flavor</p>
			</div>
			<div class="img-col">
				<h2>Flavors</h2>
			</div>
		</div>
		<div class="desserts-container list-container small-wrapper">
			<div class="img-col">
				<h2>Fillings</h2>
			</div>
			<div class="list-col">
				<ul>
					<li>Lemon mousse</li>
					<li>Whipped cream ***</li>
					<li>Cake Pops</li>
					<li>Oreo Pops</li>
					<li>Strawberry Tart</li>
					<li>Macarons</li>
					<li>Brownie Bites</li>
					<li>Rice Krispy Treats</li>
					<li>Choux Small</li>
					<li>Pretzel Sticks</li>
					<li>Tiramisu Cups</li>
					<li>Creme Brulee</li>
					<li>Mini Fruitarts</li>
					<li>Cookie Cream Shooters</li>
					<li>Strawberry Shooters</li>
					<li>Banana Cream Pie</li>
					<li>Key Lime Parfait</li>
					<li>Tropical Cups</li>
					<li>Mini Cheesecake</li>
					<li>Oatmeal Raisin Cookies</li>
					<li>Peanut Butter Cookies</li>
					<li>Chocolate Chip Cookies</li>
					<li>Chocolate Dipped Strawberries</li>
				</ul>
				<p>* Additional charge for special filling</p>
				<p>* Heavily colored buttercream like Black or Red, will temporarily stain your teeth and change cream flavor</p>
				<p>** Italian buttercream made with real butter and less sugar, not so sweet</p>
				<p>*** Non-dairy, airy cream, very light, and sweet</p>
			</div>
		</div>

	</section>

	<Footer />
</Layout>
<style>
	.hero-section{display: flex;}
	.hero-section .col{width: 50%;}
	.hero-section .left-col{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero-section .left-col .hero-text-container{
		padding-right: 5rem;
	}
	.hero-text-container h1{
		font-size: 4rem;
		margin-bottom: 3rem;
		line-height: 1.125;
	}
	.hero-text-container p{
		font-size: 1.25rem;
		margin-bottom: 3rem;
	}
	.hero-text-container .hero-cta::after{
		content: 'Get Started';
	}
	.hero-section .right-col{
		height: 650px;
		background-image: url('../assets/images/hero-image.jpeg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	/* SPECLTY CARD SECTION STYLES */
	.bakery-specialties{
		margin-top: 4rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2rem 5.625rem;
	}
	.bakery-specialties .card{
		min-width: 350px;
		width: 29%;
	}
	.bakery-specialties .card .img-container{
		height: 400px;
		margin-bottom: 1.5rem;
	}
	.bakery-specialties .card h3{
		text-align: center;
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}
	.bakery-specialties .card .spclty-card-cta::after{
		content: 'View Desserts';
	}
	.bakery-specialties .card .spclty-card-cta{
		margin: 1rem auto 0 auto;
	}

	/* HOMEPAGE NAV STYLES */
	.homepage-nav{
		position: sticky;
		border-top: 1px solid var(--hot-pink);
		border-bottom: 1px solid var(--hot-pink);
		margin: 4rem 0;
	}
	.homepage-nav-container{
		width: 100%;
		padding: 1.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.homepage-nav-container ul li{
		display: inline-block;
		margin-right: 1.75rem;
	}
	.homepage-nav-container ul li:last-child{margin-right: 0;}
	.homepage-nav-container ul li a{
		color: #000;
		font-weight: 700;
		position: relative;
	}
	.homepage-nav-container ul li a:after{
        content: '';
        position: absolute;
        bottom: -3px;
        height: 2px;
        left: 0;
        background-color: var(--hot-pink);
        width: 0;
        height: 0;
        transition: all 0.2s ease-in-out;
    }
	.homepage-nav-container ul li a:hover:after{
        width: 100%;
        height: 2px;
    }
	.homepage-nav-container .homepage-nav-cta::after{
		content: 'Get a Quote';
	}

	/* LIST SECTIONS STYLES */
	.list-container{display: flex;}
	.list-container .img-col{
		width: 35%;
		height: 475px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.list-container .img-col h2{
		font-size: 2.5rem;
		background-color: var(--hot-pink);
		padding: 3rem 1.75rem;
	}
	.list-container .list-col{padding-left: 2.5rem;}
	.list-container .list-col ul{
		column-count: 2;
		margin-bottom: 2rem;
	}
	.list-container .list-col ul li{
		margin-bottom: 7px;
		font-size: 1.125rem;
	}
	.list-container .list-col{width: 65%;}
	.desserts-container .img-col{
		background-image: url('../assets/images/dessert-bkgd.jpg');
	}
	.flavors-container .img-col{
		background-image: url('../assets/images/flavor-bkgd.jpg');
	}
	.list-container{margin-bottom: 3rem;}
	/* .list-container:last-of-type{margin-bottom: 0;} */

</style>