---
	import Header from '../components/Header.astro';
	import Footer from '../components/Footer.astro';
	import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="hero-text-container">
                <h1>Custom Cakes Made<br /> With Love</h1>
                <p>Specializing in custom cakes and pastries, all freshly made by order. Provide us your cake design idea and we'll help you bring your cake to life.</p>
                <a href="" class="pink-cta">Get Started</a>
            </div>

        </div>
        <div class="right-col col">
			<!-- <img src={heroImage.src}  alt="Custom cake image"> -->
		</div>
	</div>

	<div class="homepage-nav wrapper">
        <ul>
            <li>
                <a tabindex="-1" href="" class="" title="Desserts link" aria-label="Link to desserts">Desserts</a>
            </li>
            <li>
                <a tabindex="-1" href="" class="" title="Flavors" aria-label="Link to flavors section">Flavors</a>
            </li>
            <li>
                <a tabindex="-1" href="" class="" title="Fillings" aria-label="Link to fillings section">Fillings</a>
            </li>
        </ul>
    </div>

	<Footer />
</Layout>
<style>
	.hero-section{display: flex;}
	.hero-section .col{width: 50%;}
	.hero-section .left-col{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero-section .left-col .hero-text-container{
		padding-right: 5rem;
	}
	.hero-text-container h1{
		font-size: 3.75rem;
		font-family: "DM Serif Display", serif;
		font-weight: 400;
		font-style: normal;
		margin-bottom: 3rem;
		line-height: 1.125;
	}
	.hero-text-container p{
		font-size: 1.25rem;
		margin-bottom: 3rem;
	}
	.hero-section .right-col{
		height: 650px;
		background-image: url('../assets/images/hero-image.jpeg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

</style>