---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />

	<div class="hero-section wrapper">
		<div class="left-col col">
            <div class="text-container">
                <h1>Custom Cakes Made With Love</h1>
                <p>Specializing in custom cakes and pastries, all freshly made by order. Provide us your cake design idea and we'll help you bring your cake to life.</p>
                <a href="">Get Started</a>
            </div>

        </div>
        <div class="right-col col"></div>
	</div>

	<Footer />
</Layout>
<style>

</style>