---
    import textLogo from '../assets/images/bani_logo_hor.svg';
---

<footer>
    <div class="footer-container wrapper">
        <a href="" title="Bani Bakery logo" aria-label="Logo image, a link to homepage" class="footer-logo">
            <img loading="lazy" src={textLogo.src} alt="Bani bakery logo" class="pics">
        </a>
        <div class="ftLinks">
            <h4>Bani Bakery</h4>
            <ul>
                <li><a href="" title="Gallery link" aria-label="Link to gallery page">Gallery</a></li>
                <li><a href="" title="Desserts link" aria-label="Link to desserts">Desserts</a></li>
                <li><a href="" title="Flavors & Fillings" aria-label="Link to flavors and fillings section">Flavors & Fillings</a></li>
                <li><a href="" title="About" aria-label="Link to about section">About</a></li>
                <li><a href="" title="Contact" aria-label="Link to contact section">Contact</a></li>
                <!-- <li><a href="careers.html">Careers</a></li>
                <li><a href="reviews.html">Reviews</a></li> -->
                <li><a href="" title="Terms & Conditions" aria-label="Link to terms and conditions page">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="business-info">
            <div class="business-contact">
                <h4>Contact</h4>
                <ul>
                    <li>
                        <a href="mailto:banibakery@gmail.com" title="Email" aria-label="Email banibakery@gmail.com"> banibakery@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:7142495911" title="Phone number" aria-label="Phone number 7142495911">(714) 249 - 5911</a>
                    </li>
                    <li>
                        <a href="https://goo.gl/maps/XsePsz1xZJ2xge2i8" title="Bakery address link" aria-label="Google map link for bakery address 7561 Center Ave Suite 7 Huntington Beach, CA 92647" target="_blank">7561 Center Ave Suite 7<br/> Huntington Beach, CA 92647</a>
                    </li>
                </ul>
            </div>
            <div class="footer-social">
                <h4 class="social">Social</h4>
                <ul class="socialList">
                    <li>
                        <a href="https://www.facebook.com/banibakery/" title="Facebook" aria-label="Link to facebook page"  target="_blank"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/banihouseofcakes/" title="Instagram" aria-label="Link to instagram page" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com/biz/bani-bakery-santa-ana" title="Yelp" aria-label="Link to yelp page" target="_blank"><i class="fab fa-yelp"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="store-hours">
            <h4>Store Hours</h4>
            <ul>
                <li>Mon - CLOSED</li>
                <li>Tue - CLOSED</li>
                <li>Wed - Fri: 10am - 6pm</li>
                <li>Sat - Sun: 9am - 4pm</li>
            </ul>
        </div>

    </div>
</footer>

<style>
    footer{
        background-color: var(--brown-color);
        padding: 2rem 0;
    }
    .footer-container .footer-logo{
        display: block;
        width: 200px;
    }
    .footer-container .footer-logo img{object-fit: contain;}
    .footer-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem 1.5rem;
    }
    .footer-container a, .footer-container ul li{
        color: #fff;
        text-decoration: none;
    }
    .footer-container a:hover{color: var(--hot-pink);}
    .footer-container ul li{margin-bottom: 7px;}
    .footer-container ul li:last-child{margin-bottom: 0;}
    .footer-container h4{margin-bottom: 12px;color: #fff;}
    .footer-social{margin-top: 1rem;}
    .footer-social ul li{
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0;
    }
    .footer-social ul li a{font-size: 1.25rem;}
    .footer-social ul li:last-child{margin-right: 0;}
</style>