---
    import textLogo from '../assets/images/bani_logo_hor.svg';
---

<footer>
    <div class="footer-container wrapper">
        <a href="" title="Bani Bakery logo" aria-label="Logo image, a link to homepage">
            <img loading="lazy" src={textLogo.src} alt="Bani bakery logo" class="pics">
        </a>
    </div>
</footer>

<style>
    footer{
        background-color: var(--brown-color);
        padding: 1rem 0;
    }
</style>