---
    import textLogo from '../assets/images/bani_logo_hor.svg';
---

<header>
    <div class="header-container">
        <div class="logo">
            <a href="/" title="Bani Bakery logo" aria-label="Logo image, a link to homepage">
                <img src={textLogo.src} alt="Bani bakery logo" class="pics" />
            </a>
        </div>
        <div class="nav">
            <ul>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="#sweetTable" class="navLink">Sweet Table</a></li>
                <li><a href="#flavorFill" class="navLink">Flavors & Fillings</a></li>
                <li><a href="#about" class="navLink">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>