---
    import textLogo from '../assets/images/bani_logo_hor_bl.svg';
---

<div class="alert-banner">
    <div class="wrapper">
        <p>No walk-ins, appointment only</p>
        <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
</div>
<header>
    <div class="header-container wrapper">
        <div class="left-panel">
            <a href="/" title="Bani Bakery logo" class="logo" aria-label="Logo image, a link to homepage">
                <img src={textLogo.src} alt="Bani bakery logo" class="pics" />
            </a>
            <nav class="header-nav">
                <ul>
                    <li>
                        <a href="" class="nav-link-anchor" title="Gallery link" aria-label="Link to gallery page">Gallery</a>
                    </li>
                    <!-- <li>
                        <a tabindex="-1" href="" class="navLink nav-link-anchor" title="Desserts link" aria-label="Link to desserts">Desserts</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="" class="navLink nav-link-anchor" title="Flavors & Fillings" aria-label="Link to flavors and fillings section">Flavors & Fillings</a>
                    </li> -->
                    <li>
                        <a href="/#about" title="About link" class="navLink nav-link-anchor" aria-label="Link to about section">About</a>
                    </li>
                    <li>
                        <a href="/#contact" class="nav-link-anchor" title="Contact" aria-label="Link to contact section">Contact</a>
                    </li>
                    <!-- <li>
                        <a tabindex="-1" href="" class="nav-link-anchor" title="Reviews link" aria-label="Link to reviews page">Reviews</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="" class="nav-link-anchor" title="Terms & Conditions link" aria-label="Link to terms and conditions pages">Terms & Conditions</a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <div class="right-panel">
            <a tabindex="-1" href="https://www.facebook.com/banibakery/" class="nav-link-anchor" title="Facebook" aria-label="Link to facebook page" target="_blank"><i class="fa-brands fa-facebook"></i></a>

            <a tabindex="-1" href="https://www.instagram.com/banihouseofcakes/" class="nav-link-anchor" title="Instagram" aria-label="Link to instagram page" target="_blank"><i class="fa-brands fa-instagram"></i></a>

            <a tabindex="-1" id="nav-yelp-link" class="nav-link-anchor" href="https://www.yelp.com/biz/bani-bakery-santa-ana" title="Yelp" aria-label="Link to yelp page" target="_blank"><i class="fa-brands fa-yelp"></i></a>
        </div>
    </div>
</header>

<style>
    .alert-banner{
        width: 100%;
        background-color: var(--hot-pink);
        color: #000;
        padding: 1rem 0;
        text-align: center;
    }
    .alert-banner div{
        position: relative;
    }
    .alert-banner .close-btn{
        color: #000;
        background: 0;
        padding: 4px;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(270deg);
        font-size: 1.125rem;
    }
    header{
        width: 100%;
        padding: 1.5rem 0;
        border-bottom: 1px solid var(--hot-pink);
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container .left-panel{
        display: flex;
        align-items: center;
        gap: 0 3rem;
    }
    .header-container .right-panel{
        display: flex;
        gap: 0 1.25rem;
    }
    .header-container .right-panel a{
        color: #000;
        font-size: 1.25rem;
    }
    .header-container .right-panel a:hover{color: var(--hot-pink);}
    .header-container .right-panel a:last-of-type{margin-right: 0;}
    .header-container nav ul li{
        display: inline-block;
        margin-right: 1.5rem;
    }
    .header-container nav ul li:last-child{margin-right: 0;}
    .header-container nav ul li a{
        text-decoration: none;
        color: #000;
        font-weight: 700;
        position: relative;
    }
    .header-container nav ul li a:after{
        content: '';
        position: absolute;
        bottom: -3px;
        height: 2px;
        left: 0;
        background-color: var(--hot-pink);
        width: 0;
        height: 0;
        transition: all 0.2s ease-in-out;
    }
    .header-container nav ul li a:hover:after{
        width: 100%;
        height: 2px;
    }
    .header-container .logo{width: 200px;display: block;}
</style>