<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />


		<meta name="robots" content="noindex, nofollow">


		<title>Bani Bakery | Custom Cakes</title>
		<link rel="canonical" href="https://banibakery.com/">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://banibakery.com/">
		<meta property="og:title" content="Bani Bakery | Custom Cakes">
		<meta property="og:description" content="Bani Bakery in Huntington Beach, CA specializes in custom cakes, wedding cakes and pastries using fine ingredients. Catering all of OC and LA County." >
		<!-- <meta property="og:image" content="https://banibakery.com/images/bani_logo_og.png"> -->


	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
